<template>
  <div id="home-root">
    <Overview />
    <nav id="nav">
      <button
        v-for="(el, ind) in nav"
        :class="el.classes"
        :id="ind"
        :key="ind"
        @click="switchThumb(ind)"
      >
        {{ el.name }}
      </button>
    </nav>
    <div id="display-root">
      <Upgrades
        v-if="nav.filter(t => t.name === 'Upgrades')[0].classes.selected"
      />
      <Room
        v-else-if="nav.filter(t => t.name === 'Room')[0].classes.selected"
      />
    </div>
  </div>
</template>

<script lang="ts">
import { computed, onBeforeMount, onBeforeUnmount, ref } from "vue";
import Overview from "@/components/Overview.vue";
import Upgrades from "@/components/Upgrades.vue";
import { useMainStore } from "@/store/mainStore";
import { usePlayerStore } from "@/store/playerStore";
import { useUpgradesStore } from "@/store/upgradesStore";
import Room from "@/components/Room.vue";

export default {
  name: "Home",
  components: {
    Room,
    Overview,
    Upgrades
  },
  setup() {
    const mainStore = useMainStore();
    const player = usePlayerStore();
    const loopStarter = ref(false);
    const nav = ref([
      {
        name: "Upgrades",
        classes: {
          thumbnail: true,
          selected: true
        }
      },
      {
        name: "Room",
        classes: {
          thumbnail: true,
          selected: false
        }
      }
    ]);

    const levelManager = () => {
      if (mainStore.getBytesUntilNextLevel.value <= 0) {
        player.levelUp();
      }
    };
    const loop = () => {
      mainStore.bytesPerSecond();
      levelManager();
      if (loopStarter.value) requestAnimationFrame(loop);
    };
    const coding = () => {
      mainStore.incrementBytes();
    };
    const switchThumb = (ind: number) => {
      nav.value.forEach((t, index: number) => {
        t.classes.selected = ind === index;
      });
    };

    onBeforeMount(() => {
      loopStarter.value = true;
      loop();
      document.addEventListener("keypress", coding);
      switchThumb(0);
    });

    onBeforeUnmount(() => {
      document.removeEventListener("keypress", coding);
    });

    return {
      upgrades: computed(() => {
        return useUpgradesStore().getAvailableUpgrades.value;
      }),
      coding,
      switchThumb,
      nav
    };
  }
};
</script>

<style scoped>
#home-root {
  text-align: center;
  color: #2c3e50;

  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  align-items: center;
  height: 80vh;
}

#nav {
  width: 50%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
}

.thumbnail {
  background-color: seagreen; /* Green */
  border: none;
  color: white;
  padding: 20px 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

nav .selected {
  background-color: darkseagreen;
}

#display-root {
  width: 80%;
  height: 40%;
}
</style>
