<template>
  <div id="overview-root">
    <h5 id="bytes-display">{{ bytes }}</h5>
    <div id="infos">
      <h5 id="bps-display">
        Bytes Per Second:<br />
        {{ bps }}
      </h5>
      <h5 id="level-display">
        Current Level:<br />
        {{ level }}
      </h5>
      <h5 id="next-level-display">
        Bytes Until Next Start-up Level:<br />
        {{ bytesUntilNextLevel }}
      </h5>
    </div>
  </div>
</template>

<script lang="ts">
import { computed, onMounted } from "vue";
import { useMainStore } from "@/store/mainStore";
import { usePlayerStore } from "@/store/playerStore";

export default {
  name: "Overview",
  setup() {
    const mainStore = useMainStore();
    const player = usePlayerStore();
    onMounted(() => {
      const firstMultBuy = document
        .getElementsByClassName("multiplier buy")
        .item(0);
      if (firstMultBuy !== null) firstMultBuy.classList.add("selected");
      const firstMultLevel = document
        .getElementsByClassName("multiplier level")
        .item(0);
      if (firstMultLevel !== null) firstMultLevel.classList.add("selected");
    });
    return {
      bytes: computed(() => mainStore.getBytes.value.toFixed(1)),
      bps: computed(() => mainStore.getBps.value.toFixed(1)),
      level: computed(() => player.getLevel.value),
      bytesUntilNextLevel: computed(() => {
        return mainStore.getBytesUntilNextLevel.value;
      })
    };
  }
};
</script>

<style scoped>
#overview-root {
  display: flex;
  flex-flow: nowrap column;
  align-items: center;
  width: 100%;
}

#bytes-display {
  width: 10vw;
  padding: 15px 25px;
  background-color: #28a484;
  border-radius: 5px;
  color: white;
  font-size: 3vw;
  font-weight: 900;
  text-align: center;
  margin-bottom: 30px;
}

#infos,
#infos {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  flex: 2;
}

#bps-display,
#level-display,
#next-level-display {
  margin-bottom: 15px;

  color: #222222;
  font-size: 18px;
  font-weight: 700;
}

#bps-display {
  flex: 3;
}

#level-display {
  flex: 1;
}

#next-level-display {
  flex: 3;
}

#multipliers {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
#multipliers div {
  background-color: #2c3e50;
  color: #cccccc;
  padding: 5px;
}
.multipliers-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.multipliers-list p {
  background-color: #28a484;
  border-radius: 5px;
  padding: 5px;
  color: #2c3e50;
  cursor: pointer;
}
#multipliers .selected {
  color: #cccccc;
}
</style>
