<template>
  <div id="room-root">
    <table id="room">
      <td
        class="poste"
        v-for="(poste, ind) in room"
        :key="ind"
        @click.left="clickRoomHandler($event, ind)"
        @click.right="
          $event.preventDefault();
          clickRoomHandler($event, ind);
        "
        :id="ind"
      >
        <p>{{ poste.contain ? poste.contain.name : "Empty" }}</p>
      </td>
    </table>
    <table id="upgrades">
      <thead>
        <tr>
          <td>Name</td>
          <td>Quantity</td>
        </tr>
      </thead>
      <tbody>
        <tr
          class="upgrade"
          v-for="(upg, ind) in upgrades"
          :key="ind"
          @click="selectUpgrade(ind)"
          :id="ind"
        >
          <td>{{ upg.name }}</td>
          <td>{{ upg.quantity.number - upg.placed }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script lang="ts">
import { useUpgradesStore } from "@/store/upgradesStore";
import { useRoomStore } from "@/store/roomStore";
import { useMainStore } from "@/store/mainStore";

export default {
  name: "Room",
  setup() {
    const upgradesStore = useUpgradesStore();
    const mainStore = useMainStore();
    const roomStore = useRoomStore();
    let selectedUpgrade = -1;
    const selectUpgrade = (index: number) => {
      const selectedClassName = "selected";
      Array.from(document.getElementsByClassName("upgrade")).forEach(e => {
        if (
          e.id === index.toString() &&
          !e.classList.contains(selectedClassName)
        ) {
          e.classList.add(selectedClassName);
          selectedUpgrade = index;
        } else {
          e.classList.remove(selectedClassName);
        }
      });
      if (
        Array.from(
          document.getElementsByClassName("upgrade " + selectedClassName)
        ).length === 0
      ) {
        selectedUpgrade = -1;
      }
    };
    const placeUpgrade = (index: number) => {
      if (selectedUpgrade >= 0) {
        if (roomStore.isIndexEmpty(index)) {
          mainStore.placeUpgrade(selectedUpgrade, index);
        }
      }
    };
    const removeUpgrade = (index: number) => {
      if (!roomStore.isIndexEmpty(index)) {
        mainStore.removeUpgrade(index);
      }
    };
    const clickRoomHandler = (event: MouseEvent, index: number) => {
      switch (event.button) {
        case 0:
          placeUpgrade(index);
          break;
        case 2:
          removeUpgrade(index);
          break;
      }
    };
    return {
      upgrades: upgradesStore.getAvailableUpgrades,
      room: roomStore.state,
      selectedUpgrade,
      selectUpgrade,
      clickRoomHandler
    };
  }
};
</script>

<style scoped>
#room-root {
  width: 100%;
  height: 100%;
  background-color: #222222;

  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}

table {
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  overflow-wrap: break-word;
}

#room {
  width: 20vw;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.poste {
  flex-basis: 40%;
  height: 50px;
  margin: 5px;
  background-color: #28a484;
  cursor: pointer;
}

#upgrades {
  color: white;
}

.upgrade td {
  background-color: #28a484;
  color: #2c3e50;
  cursor: pointer;
  padding: 5px;
}

#upgrades .selected td {
  background-color: #2c3e50;
  color: #28a484;
}
</style>
