<template>
  <div id="upgrades-root">
    <table id="upgrades-table">
      <tr id="multipliers">
        <td id="buy">
          <h3>Buy multiplier</h3>
          <div class="multipliers-list">
            <p
              class="multiplier buy"
              v-for="(mult, index) in multipliers"
              :key="index"
              :id="mult"
              @click="changeBuyQuantity(mult)"
            >
              x{{ mult }}
            </p>
          </div>
        </td>
        <td id="level">
          <h3>Level up multiplier</h3>
          <div class="multipliers-list">
            <p
              class="multiplier level"
              v-for="(mult, index) in multipliers"
              :key="index"
              :id="mult"
              @click="changeLevelQuantity(mult)"
            >
              x{{ mult }}
            </p>
          </div>
        </td>
        <td id="infos">Infos</td>
      </tr>
      <tr class="upgrade" v-for="(upg, index) in upgrades" :key="index">
        <td
          :class="upg.classesHire"
          :disabled="upg.disabled"
          @click="clickHandler($event, index)"
        >
          Hire {{ upg.name }}
          {{
            upg.disabled
              ? `(at lvl ${upg.unlocksAt})`
              : `(cost: ${upg.priceHire})`
          }}
        </td>
        <td
          :class="upg.classesLevel"
          :disabled="upg.disabled"
          @click="clickHandler($event, index)"
        >
          Level up {{ upg.name }}
          {{
            upg.disabled
              ? `(at lvl ${upg.unlocksAt})`
              : `(cost: ${upg.priceLevel})`
          }}
        </td>
        <td class="upgrade-details">
          <p class="upgrade-quantity">Quantity: {{ upg.quantity }}</p>
          <p class="upgrade-level">Level: {{ upg.level }}</p>
        </td>
      </tr>
    </table>
  </div>
</template>

<script lang="ts">
import { watch, reactive } from "vue";
import { useUpgradesStore, Upgrade } from "@/store/upgradesStore";
import { useMainStore } from "@/store/mainStore";

export default {
  name: "Upgrades",
  setup() {
    const upgradesStore = useUpgradesStore();
    const mainStore = useMainStore();
    const bytes = mainStore.getBytes;
    const canBuy = (index: number): boolean => {
      const price = upgradesStore.getPriceBuy(
        index,
        mainStore.getBuyQuantity.value
      );
      return price <= bytes.value;
    };
    const canLevel = (index: number): boolean => {
      const price = upgradesStore.getPriceLevel(
        index,
        mainStore.getLevelQuantity.value
      );
      return price <= bytes.value;
    };
    const upgrades = upgradesStore.getAvailableUpgrades.value.map(
      (u: Upgrade, index: number) => {
        return reactive({
          name: u.name,
          disabled: u.disabled,
          unlocksAt: u.unlocksAt,
          quantity: u.quantity.number,
          level: u.quantity.number,
          classesHire: {
            "upgrade-button": true,
            "quantity-button": true,
            disabled: u.disabled,
            canBuy: false
          },
          classesLevel: {
            "upgrade-button": true,
            "level-button": true,
            disabled: u.disabled,
            canBuy: false
          },
          priceHire: upgradesStore.getPriceBuy(
            index,
            mainStore.getBuyQuantity.value
          ),
          priceLevel: upgradesStore.getPriceLevel(
            index,
            mainStore.getLevelQuantity.value
          )
        });
      }
    );

    watch(mainStore.getBytes, () => {
      upgrades.forEach((u: any, index: number) => {
        u.classesHire.canBuy = canBuy(index);
        u.classesLevel.canBuy = canLevel(index);
      });
    });
    watch(mainStore.getBuyQuantity, () => {
      upgrades.forEach((u: any, index: number) => {
        u.priceHire = upgradesStore.getPriceBuy(
          index,
          mainStore.getBuyQuantity.value
        );
      });
    });
    watch(mainStore.getLevelQuantity, () => {
      upgrades.forEach((u: any, index: number) => {
        u.priceLevel = upgradesStore.getPriceLevel(
          index,
          mainStore.getLevelQuantity.value
        );
      });
    });
    return {
      upgrades,
      clickHandler: (event: MouseEvent, index: number) => {
        // eslint-disable-next-line @typescript-eslint/no-explicit-any
        const t: any = event.target;
        const classList = t.classList;
        if (event.screenX > 0) {
          if (classList.contains("quantity-button"))
            mainStore.buyUpgrade(index);
          if (classList.contains("level-button")) mainStore.levelUpgrade(index);
        }
      },
      changeBuyQuantity: (index: number) => {
        mainStore.changeBuyQuantity(index);
        const multipliers = document.getElementsByClassName("multiplier buy");
        const selected = document.getElementsByClassName(
          "multiplier buy selected"
        )[0];
        selected.classList.remove("selected");
        const clickedMult = multipliers.namedItem(index.toString());
        if (clickedMult !== null) clickedMult.classList.add("selected");
      },
      changeLevelQuantity: (index: number) => {
        mainStore.changeLevelQuantity(index);
        const multipliers = document.getElementsByClassName("multiplier level");
        const selected = document.getElementsByClassName(
          "multiplier level selected"
        )[0];
        selected.classList.remove("selected");
        const clickedMult = multipliers.namedItem(index.toString());
        if (clickedMult !== null) clickedMult.classList.add("selected");
      },
      multipliers: [1, 5]
    };
  }
};
</script>

<style scoped>
#upgrades-table {
  width: 100%;
  height: 100%;
  background-color: #222222;

  display: flex;
  flex-flow: nowrap column;
  justify-content: space-around;
  align-items: center;
}

#upgrades-table tr {
  display: flex;
  flex-flow: nowrap row;
  justify-content: space-around;
  align-items: center;
  align-content: space-around;
  margin: 5px 0 5px;
  width: 100%;

  background-color: #222222;
}

#upgrades-table tr td {
  padding: 15px 5px;
  margin: 0 15px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  overflow-wrap: break-word;
}

.upgrade-details {
  flex: 1 1 100%;
  text-align: center;
}

.upgrade-button {
  width: 100%;
  background-color: #28a484;
  cursor: pointer;
  text-align: center;
}

.upgrade-button.disabled {
  color: black;
  background-color: #cccccc;
  pointer-events: none;
}

.upgrade-button.canBuy {
  color: #0a9c47;
}

#multipliers td {
  width: 33%;
}
.multipliers-list {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-around;
}
.multipliers-list p {
  background-color: #28a484;
  border-radius: 5px;
  padding: 5px;
  color: #2c3e50;
  cursor: pointer;
}
#multipliers .selected {
  color: #cccccc;
}
#multipliers #infos {
  background-color: #222222;
  text-align: center;
}
</style>
